#avd-loading, #avd-fetched, #avd-none {
    display: none;
}

#avd-list-pane {
    max-width: 200px;
}

fieldset {
    margin: 16px;
    border-radius: 5px;
}

fieldset legend {
    padding: 5px;
    border: .5px solid silver;
    border-radius: 5px;
    margin-bottom: 10px;
}

#avd-list-pane .list-group-item {
    border-bottom: .5px solid silver;
    min-width: 150xp;
}